

  <tr>
    <td>
      <img src="<%= line_item.product.image.tiny %>"/>
    </td>
    <td>
      <h4><%= line_item.product.name %></h4>
    </td>
    <td>
      <%= line_item.product.price %>
    </td>

    <td>
      <%= line_item.product.quantity %>
    </td>
    <td>
      <%= line_item.total_price %>
    </td>
  </tr>

