<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%=  number_to_currency(@product.price) %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel-body">
          <% if current_user %>
            <%= form_for [@product, @review]  do |f| %>
              <h4>
                Comments:
              </h4>
              <% if f.object.errors.any? %>
                <div class="alert alert-danger">
                  <strong>The following errors prevented saving:</strong>
                  <ul>
                    <% f.object.errors.full_messages.each do |error| %>
                      <li><%= error %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <%= f.text_area :description, class: 'review-text form-control' %>
              <%= f.select(:rating, [[1],[2],[3],[4],[5]], {}, {:class => 'review-select'})%>
              <%= f.submit "Write", class: 'submit-review' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h2 class="review-header">Reviews</h2>
          </div>
          <div class="panel-body">
            <% @reviews.each do |review| %>
              <dt><%= review.user.first_name%></dt>
              <dd><%= review.description %></dd>
              <dt>Rating:</dt>
              <dd>
              <% (1..5).each do |i| %>
                <% if (i <= review.rating) %>
                  <i style="color: #red" class="fa fa-star" aria-hidden="true"></i>
                <% else %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                <% end %>
              <% end %>
              <% if current_user && current_user.first_name == review.user.first_name %>
                <dt>Delete:</dt>
                <dd><%= link_to fa_icon('trash'), review_path(review), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Wish to delete your review?" } %></dd>
              </dd>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
